@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
--cor-principal:#000000;
--cor-segundaria:#FB4F93;
--cor-terceira:#28161C;
--cor-quarta:#00E6E4
}